<h1>Forgot Password</h1>
<h3>Please enter the email you used to create your account</h3>
<form action="/Home/ForgotPassword" method="post">
    <input type="text" name="email" />
    <button type="submit">Submit</button>
</form>