<h1>Change Password</h1>
<form action="/Home/ResetPassword" method="post">
    <input type="text" name="Newpassword" />
    <input type="text" name="ConfirmNewpassword" />
    <button type="submit">Reset</button>
</form>