@model string

@{
    var url = $"/Home/ResetPassword{Model}";
}
<h1>Change Password</h1>
<form action="@url" method="post">
    <input type="text" name="Newpassword" />
    <input type="text" name="ConfirmNewpassword" />
    <button type="submit">Reset</button>
</form>
